<div class="jumbotron">


    <div class="row">
        <div class="column">
            <h1>Dr Shrimp menu</h1>
            <br/>
            <button class="btn btn-secondary float-left" [routerLink]="['/additem']">Add Item</button>
        </div>

    </div>
    <br/>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Desc</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of themenu; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description}}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.menuSection.name }}</td>

        </tr>
        </tbody>
      </table>
</div>
</div>