<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6 ">
                <p> Competitors list</p>
                <ul>
                    <li *ngFor="let item of allcompetitors; let i = index">
                        <a [routerLinkActive]="['active']" [routerLink]="['/competitorsdetails', allcompetitors[i]._id]">{{allcompetitors[i].name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <p>Add Competitors</p>
                <app-add-competitor></app-add-competitor>
            </div>
        </div>
    </div>
</div>