<main>
    <section class="glass">

        <div class="dashboard">

            <ul class="links" *ngFor="let item of menuCategories; index as i">
                <div class="link" (click)="getMenuItems(item._id)">
                    <h2>{{item.name}}</h2>
                </div>
            </ul>

        </div>
        <div class="games">

            <div class="cards">

                <div *ngFor="let menuItem of menuItems" (click)="addToInvoice(menuItem)" class="card">

                    <div class="card-info">
                        <h2>{{menuItem.name}}</h2>
                        <p>{{menuItem.description}}</p>
                        <p>{{menuItem.altDesc}}</p>
                        <div class="progress">  </div>
                    </div>

                    <h2 class="percentage">{{menuItem.price}} LE.</h2>
                </div>

            </div>
        </div>
        <div class="invoice">
            <form class="form-group" [formGroup]="invoiceAddItems">
                <div formArrayName="items">
                    <table class="table table-stripped">
                        <tr>
                            <th>Item Name</th>
                            <th>Specila Request</th>
                            <th>QTTY</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                        <tr *ngFor="let x of invoiceAddItems.get('items').controls;let i=index;trackBy:track" [formGroupName]="i">
                            <th><input class="lable" formControlName="name" placeholder="Item name"></th>
                            <td><input class="form-control" formControlName="specialRrequest"></td>
                            <td><input type="number" class="form-control" formControlName="quantity" value=1></td>
                            <td><input class="form-control" formControlName="price"></td>
                            <td><input class="form-control" formControlName="itemTotal"> {{x.price}} * {{x.quantity}} </td>
                            <td><button class="btn btn-secondary" (click)="deleteItem(i)">Delete</button></td>
                        </tr>
                    </table>
                </div>
                <button class="btn btn-primary" (click)="getMyData()">Refresh</button>
                <button class="btn btn-primary" (click)="submit()">Submit</button>
            </form>
        </div>

    </section>
</main>