<div class="jumbotron">
    <div class="row">
        <div class="column">
            <button class="btn btn-secondary float-left" [routerLink]="['/allInvoicesDetails']">All Invoices</button>
            <button class="btn btn-secondary float-left" [routerLink]="['/newcustomer']">New customer</button>
        </div>
    </div>
    <br />
    <div>
        <div class="row">
            <div class="column side">
                <ul *ngFor="let item of menuCategories; index as i">
                    <li><button (click)="getMenuItems(item.name)">{{item.name}}</button></li>
                </ul>
            </div>

            <div class="column middle">
                <div class="card-deck no-gutters">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let menuItem of menuItems">
                        <div class="card h-60 mb-4">
                            <div class="card-header">
                                <h5 class="card-title m-0 p-0 font-weight-bolder text-secondary"> {{menuItem.name}}
                                </h5>
                            </div>
                            <div class="card-body text-left">
                                <p class="card-text">{{menuItem.description}}</p>
                                <p class="card-text">{{menuItem.altDesc}}</p>
                                <span class="font-lead-base font-weight-bold text-muted">{{menuItem.price}} LE.</span>
                                <div class="promotion-price">
                                    <div class="promotion-price-desc">Now</div>
                                    <div class="promotion-price-text">$ 9.5</div>
                                </div>
                            </div>
                            <button (click)="addToInvoice(menuItem)" class="card-footer btn btn-warning">Order</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column side">
                <h2>Invoice</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th scope="col">Qtty</th>
                            <th scope="col">Item</th>
                            <th scope="col">special request</th>
                            <th scope="col">Price</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of invoicetemp; index as i">

                            <td>{{ item.altName}}</td>
                            <td>{{ item.name}}</td>
                            <td>{{ item.altDesc }}</td>
                            <td>{{ item.price }}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>