
<div class="col-12 col-sm-6 col-md-6 col-lg-3">
    <div class="card">
    <div class="card-header">
        {{ item.name }}
    </div>
    <div class="card-body">
        <label  *ngFor="let adress of item.address; index as x">
            Building No. :{{adress.buildingNo}}
            <br>Street: {{ adress.street }}
            <br>Floor: {{adress.floor}}
            <br>Apartment: {{adress.apartmentNo}}
            <br>Special Mark: {{adress.specialMark}}
            <br>Area: {{adress.area}}
        </label>
    </div>
    <div class="card-footer">
        {{ item.startDate | date:'shortDate' }}
    </div>
</div>
</div>
