<div class="card">
    <div class="flex-row d-flex justify-content-between">
        <div class="d-flex justify-content-start">
            <h1>{{ item.mainNumber }} </h1>
            
        </div>
        <div>
            <h2>{{ item.name }}</h2>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" [routerLink]="['/orders', item._id]">new
                Order</button>
            <button class="btn btn-secondary" (click)="showDetails()">View
                Details</button>
        </div>



    </div>
    <div class="card-body" *ngIf="details">
        <label *ngFor="let adress of item.address; index as x">
            Building No. :{{adress.buildingNo}}
            <br>Street: {{ adress.street }}
            <br>Floor: {{adress.floor}}
            <br>Apartment: {{adress.apartmentNo}}
            <br>Special Mark: {{adress.specialMark}}
            <br>Area: {{adress.area}}
        </label>
    </div>
    <div class="card-footer" *ngIf="details">
        {{ item.startDate | date:'shortDate' }}
    </div>
</div>