<p>customer-details works!</p>
<tr>
    <td>{{ item.customerNumber }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.mainNumber }}</td>
    <td *ngFor="let adress of item.address; index as x">
        Address {{x + 1}}:
        <br>Building No.: {{adress.buildingNo}}
        <br>Street: {{ adress.street }}
        <br>Floor: {{adress.floor}}
        <br>Apartment: {{adress.apartmentNo}}
        <br>Special Mark: {{adress.specialMark}}
        <br>Area: {{adress.area}}
    </td>
    <td>{{ item.alternativeNumbers }}</td>
    <td>View Orders</td>
    <td>{{ item.startDate | date:'shortDate' }}</td>
</tr>