<div class="jumbotron">
    <div class="row">
        <div class="container">
            <div id="accordion">
                <div class="card">
                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                Add Expenses
                            </h5>
                        </div>
                    </a>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <app-add></app-add>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                Add Comptitor
                            </h5>
                        </div>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <app-add-competitor></app-add-competitor>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                Add Supplier</h5>
                        </div>
                    </a>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <app-new></app-new>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                Add Recipe </h5>
                        </div>
                    </a>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <app-addrecipe></app-addrecipe>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>