.invoiceContainer {
    display: flexbox;
    height: 80vh
}

.invoiceHeader {
    height: 15%;
}

.invoiceBody {
    height: 75%;
}

.payBTN {
    align-self: flex-end;
    float: inline-end;
    height: 10%;
}