<div class="container">
    <form #myform="ngForm">
        <div class="form-group">
            <label>Name :</label>
            <input type="text" [(ngModel)]="suppliers.name" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label>Mobile :</label>
            <input type="text" [(ngModel)]="suppliers.mobile" name="mobile" class="form-control">
        </div>
        <div class="form-group">
            <label>Location :</label>
            <input type="text" [(ngModel)]="suppliers.location" name="location" class="form-control">
        </div>

        <div class="form-group">
            <label for="group">Group</label>
            <select id="group" class="form-control">
      <option value="shrimp">Shrimp</option>
      <option value="kitchen">kitchen</option>
      <option value="printables">Printables</option>
      <option value="plastics">Plastics</option>

    </select>
        </div>
        <button type="button" class="btn btn-primary" (click)="newSuplier(myform.value)"> Add Supplier </button>


    </form>

</div>