<div class="jumbotron">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item" *ngFor="let item of allInvent; index as i">
                <button class="btn btn-warning" (click)="getView(item._id)">{{item.name}}</button>
            </li>
        </ul>
    </div>
    <div class="column middle">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">index</th>
                    <th scope="col">Name</th>
                    <th scope="col">mobile</th>
                    <th scope="col">location</th>
                    <th scope="col">notes</th>
                    <th scope="col">edit</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-primary" *ngFor="let supplier of view; index as i">
                    <td>{{ i + 1}}</td>
                    <td>{{supplier.name}}</td>
                    <td> {{supplier.mobile}} </td>
                    <td>{{supplier.location}} </td>
                    <td>{{supplier.group.name}}</td>
                    <td><button class="btn btn-warning">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="column add">
        <app-new></app-new>
    </div>


</div>