<div>
    <div>
    <form [formGroup]="dateFilterForm" (ngSubmit)="getSummary2()" class="form-group">
        <label>Start Date: </label>
        <br />
        <input type="date" formControlName="startDate" id="defaultStartDate" class="form-control">
        <br />
        <label>End Date: </label>
        <br />
        <input type="date" formControlName="endDate" id="defaultEndDate" class="form-control">
        <br />
        <button class="btn btn-secondary block2 float-left" type="submit">Filter</button>
    </form>
    </div>
    <div>
<p>daily-sales works!</p>
<p> sales: {{salesSummary.count}}</p>
<p> Total Income: {{salesSummary.total}}</p>
<table>
    <thead>
        <th>#</th>
        <th>delivery</th>
        <th>isPaid</th>
        <th>Paid</th>
        <th>subtotal</th>
    </thead>
    <tbody *ngFor="let item of salesSummary.response" >
        <tr>
            <td>{{item.invoiceNumber}}</td>
            <td>{{item.delivery}}</td>
            <td>{{item.isPaid}}</td>
            <td>{{item.paid}}</td>
            <td>{{item.subTotal}}</td>
        </tr>
    </tbody>
</table>
    </div>
</div>
