<div class="jumbotron">
    <div class="row">
        <button class="btn btn-secondary float-left" [routerLink]="['/listInventory']">List Items</button>
    </div>
    <br />
    <div>
        <div class="row">
            <div class="column side">
            </div>
            <div class="column middle">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let inv of allInvent; index as i">
                            <td>{{ i + 1}}</td>
                            <td>{{inv.name}}</td>
                            <td>{{inv.unit}}</td>
                            <td>{{inv.category.name}}</td>
                        </tr>
                </table>
            </div>
            <div class="column side">
                <app-new-inventory></app-new-inventory>
            </div>
        </div>
    </div>
</div>