/* Create three unequal columns that floats next to each other */

.column {
    float: left;
    padding: 10px;
}


/* Left and right column */

.column.side {
    width: 20%;
}


/* Middle column */

.column.middle {
    width: 55%;
}


/* Clear floats after the columns */

.row {
    align-content: flex-start;
    align-items: flex-start;
}

.block {
    display: block;
    width: 80%;
    border: none;
    background-color: #c5e3e7;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: left;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}