<div class="jumbotron">

    <div>
        <div class="row">
            <div class="column side menu">
                <ul class="list-group" *ngFor="let item of cat; index as i">
                    <button class="btn btn-warning block list-group-item float-left" (click)="getView(item._id)">{{item.name}}</button>
                </ul>
                <br/>
                <button class="btn btn-secondary block2 float-left" [routerLink]="['/listInventory']">List Items</button>
                <button class="btn btn-secondary block2 float-left" (click)=toggleNewItem()>New Item</button>

                <button class="btn btn-secondary block2 float-left" (click)=toggleNewBrand()>New Brand</button>


            </div>
            <div class="column middle">
                <form [formGroup]="searchNameForm" (ngSubmit)="searchName()" class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="search" onkeypress="searchName($event)" formControlName="name" id="defaultRegisterFormName" class="form-control" placeholder="search Name">

                </form>

                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Alt</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Category</th>
                            <th scope="col">ADD Stock</th>
                            <th scope="col">Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let inv of view; index as i">
                            <td>{{ i + 1}}</td>
                            <td>{{inv.name}}</td>
                            <td>{{inv.altName}}</td>
                            <td>{{inv.unit}}</td>
                            <td>{{inv.brand.name}}</td>
                            <td>{{inv.category.name}}</td>
                            <td><button class="btn btn-secondary" (click)=toggleAdd(inv)>Re-Stock</button></td>
                            <td><button class="btn btn-secondary" (click)=toggleStock(inv)>show-Stock</button></td>

                        </tr>
                </table>
            </div>
            <div class="column side">
                <div *ngIf="showMe">
                    <app-inv-in [childMessage]="message"></app-inv-in>
                </div>
                <br />
                <div *ngIf="showStock">
                    <h4>{{stock[0].itemID.name}} Purchases  </h4>
                    <table class="table table-warning">
                        <tbody>
                            <tr *ngFor="let item of stock; index as i">
                                <td>{{item.amount_in}} {{item.itemID.unit}}</td>
                                <td>{{item.pricePerUnit}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.supplier.name}}</td>
                                
                                <td>{{item.date | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                    </table>
                </div>
                <br />
                <div *ngIf="showNewItem">
                    <app-new-inventory></app-new-inventory>
                </div>

            </div>
        </div>
    </div>
</div>