/* Create three unequal columns that floats next to each other */

.column {
    float: left;
    padding: 5px;
}


/* Left and right column */

.column.side {
    width: 25%;
}


/* Middle column */

.column.middle {
    width: 50%;
}


/* Clear floats after the columns */

.row {
    align-content: flex-start;
    align-items: flex-start;
}

.block {
    display: block;
    width: 80%;
    border: none;
    background-color: #6eccd8;
    padding: 14px 28px;
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
    text-align: left;
}
.block2 {
    display: block;
    width: 80%;
    border: none;
    background-color: #53883b;
    padding: 14px 28px;
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
    text-align: left;
}