<div class="jumbotron">
    <div class="row">
        <form [formGroup]="searchForm" (ngSubmit)="search()"
        class="text-center border border-light p-5">
        <div class="form-group">
            <input type="text" onkeypress="search($event)" formControlName="name"
                id="searchName" class="form-control" placeholder="search">
            <button class="btn btn-info my-4 btn-block" type="submit">search</button>
        </div>
    </form>
        <button class="btn btn-secondary float-left" [routerLink]="['/listInventory']">List Items</button>
        <button class="btn btn-secondary float-right" [routerLink]="['/inventoryIN']">ADD TO STOCK</button>
    </div>
    <br />
    <div>
        <div class="row">
            <div class="column side menu">
                    <ul class="list-group" *ngFor="let item of cat; index as i">
                            <button class="btn btn-warning block list-group-item float-left" (click)="getView(item._id)">{{item.name}}</button>
                    </ul>


            </div>
            <div class="column middle">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Category</th>
                            <th scope="col">ADD Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let inv of view; index as i">
                            <td>{{ i + 1}}</td>
                            <td>{{inv.name}}</td>
                            <td>{{inv.unit}}</td>
                            <td>{{inv.category.name}}</td>
                            <td><button class="btn btn-secondary" [routerLink]="['/inventoryIN', inv._id]">ADD STOCK</button></td>
                        </tr>
                </table>
            </div>
            <div class="column side">
                <app-new-inventory></app-new-inventory>
                <br/>
                <app-inv-in></app-inv-in>
            </div>
        </div>
    </div>
</div>