<div class="jumbotron">
    <div class="row">
        <button class="btn btn-secondary float-left" [routerLink]="['/listInventory']">List Items</button>
        <button class="btn btn-secondary float-right" [routerLink]="['/inventoryIN']">ADD TO STOCK</button>
    </div>
    <br />
    <div>
        <div class="row">
            <div class="column side">
                <div class="column">
                    <button class="btn btn-secondary block list-group-item float-left"
                        [routerLink]="['/listInventory/kitchen']">Kitchen</button>
                    <button class="btn btn-secondary block list-group-item float-left"
                        [routerLink]="['/listInventory/packing']">Packing</button>
                    <button class="btn btn-secondary block list-group-item float-left"
                        [routerLink]="['/listInventory/utensiles']">Utensiles</button>
                    <button class="btn btn-secondary block list-group-item float-left"
                        [routerLink]="['/listInventory/detergents']">Detergents</button>
                    <button class="btn btn-secondary block list-group-item float-left"
                        [routerLink]="['/listInventory/spices']">Spices</button>

                </div>

            </div>
            <div class="column middle">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Category</th>
                            <th scope="col">ADD Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let inv of allInvent; index as i">
                            <td>{{ i + 1}}</td>
                            <td>{{inv.name}}</td>
                            <td>{{inv.unit}}</td>
                            <td>{{inv.category.name}}</td>
                            <td><button class="btn btn-secondary" [routerLink]="['/inventoryIN', inv._id]">ADD STOCK</button></td>
                        </tr>
                </table>
            </div>
            <div class="column side">
                <app-new-inventory></app-new-inventory>
                <br/>
                <app-inv-in></app-inv-in>
            </div>
        </div>
    </div>
</div>