<div class="jumbotron">

    <div>
        <input type="text" (keypress)="search(msg)" [(ngModel)]="msg" placeholder="Search Phone">
        <input type="text" (keypress)="searchName(name)" [(ngModel)]="name" placeholder="Search Name">
    </div>
    <br />
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer Number</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Main Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Alternate Number</th>
                    <th scope="col">Orders</th>
                    <th scope="col">Start Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of allCustomers; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.customerNumber }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.mainNumber }}</td>
                    <td *ngFor="let adress of item.address; index as x">
                        Address {{x + 1}}:
                        <br>Building No.: {{adress.buildingNo}}
                        <br>Street: {{ adress.street }}
                        <br>Floor: {{adress.floor}}
                        <br>Apartment: {{adress.apartmentNo}}
                        <br>Special Mark: {{adress.specialMark}}
                        <br>Area: {{adress.area}}
                    </td>
                    <td>{{ item.alternativeNumbers }}</td>
                    <td>View Orders</td>
                    <td>{{ item.startDate | date:'shortDate' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>